<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zmsoft.ccd.module.takeout"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="com.zmsoft.ccd.module.takeout.order.ui.TakeoutListActivity"
            android:label="@string/module_takeout_label_takeout_list"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.zmsoft.ccd.module.takeout.order.ui.RetailTakeoutListActivity"
            android:label="@string/module_takeout_label_retail_takeout_list"
            android:screenOrientation="portrait" />

        <activity
            android:name=".order.ui.SearchTakeoutActivity"
            android:label="@string/module_takeout_label_takeout_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order.ui.RetailSearchTakeoutActivity"
            android:label="@string/module_takeout_label_takeout_search"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zmsoft.ccd.module.takeout.delivery.PendingDeliveryListActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_takeout_pending_order_dispatch"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zmsoft.ccd.module.takeout.delivery.DeliveryActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_takeout_order_dispatch"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zmsoft.ccd.module.takeout.delivery.ScanDeliveryNoActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_takeout_delivery_no"
            android:screenOrientation="portrait" />
    </application>

</manifest>