<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zmsoft.ccd.module.receipt"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ModuleReceiptApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/module_receipt_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Module_Receipt_AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".receipt.view.ReceiptActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_receipt"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".vipcard.detail.VipCardDetailActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_brush_vip_card"
            android:screenOrientation="portrait" />
        <!--<activity-->
        <!--android:name=".vipcard.input.InputVipCardActivity"-->
        <!--android:configChanges="orientation|keyboard"-->
        <!--android:label="@string/module_receipt_vip_card"-->
        <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".receiptway.onaccount.view.OnAccountReceiptActivity"
            android:configChanges="orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".receiptway.onaccount.accountunit.view.UnitReceiptActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_onaccount_unit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".receiptway.normal.view.NormalReceiptActivity"
            android:configChanges="orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discount.view.DiscountReceiptActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_whole_order_discount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".receiptway.coupon.view.CouponReceiptActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_whole_order_discount"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".receiptway.scan.view.ScanReceiptActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_whole_order_discount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vipcard.input.InputVipCardActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_vip_card"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".complete.view.CompleteReceiptActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_complete_label"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".verification.view.VerificationCancleActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/module_receipt_verification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>